/*-----------------------------------------------------------------------------------*/
/* Document Setup
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/* OCQ: One Choice Questions
/*-----------------------------------------------------------------------------------*/
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;    
}
.ocq-questions-wrapper{
    padding: 20px 12px 20px 12px;
    width: 960px;
    margin: 0 auto;
    color: #454545;

    padding-bottom: 144px;
    -webkit-box-shadow: 0 1px 3px #B9BBBE;
    -moz-box-shadow: 0 1px 3px #b9bbbe;
    box-shadow: 0 1px 3px #B9BBBE;
    border: 1px solid #B9BBBE;
    border-bottom: 1px solid #B2B2B6;
    border-top: none;
    background: rgb(252, 252, 252);

}
.ocq-main-list-wrapper{
    clear: right;
    margin-top: 20px;
}

.ocq-main-list{
    padding-right: 2px;
    margin-right: 18px;
    margin-bottom: 19px;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 11px;
}


.ocq-question{
    font-size: 14px;
}

.ocq-main-list:hover .ocq-active-question{
    background: rgb(255, 208, 22);
}


.ocq-active-question{
    border-bottom: 2px solid rgb(88, 88, 88);
    padding: 2px 4px 0px 4px;
    height: 16px;
    display: inline-block;
}

.ocq-inner-list-wrapper{
    margin-top: 7px;
    margin-right: 4px;
}

.ocq-inner-list{
    list-style-type: none;
    margin-bottom: 7px;
}

.ocq-inner-list label{
    width: 80px;
    display: inline-block;
    cursor: pointer;
}

.ocq_exam-inner-list{
    list-style-type: none;
    margin-bottom: 7px;
}

.ocq_exam-inner-list label{    
    display: inline-block;
    cursor: pointer;
}

.ocq-question-answer{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
    padding: 1px 5px;
    display: none;
}

.ocq-correct-answer{
    background: #8DC63F;
}

.ocq-wrong-answer{
    background:rgb(221, 39, 39);
}

