/*-----------------------------------------------------------------------------------*/
/* CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

*{
    line-height: 20px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */



/*-----------------------------------------------------------------------------------*/
/* Document Setup
/*-----------------------------------------------------------------------------------*/


body{
    background: URL(../images/body-bg.png);
    background-repeat: repeat;
    color: #939393;
    text-align: right;
    direction: rtl;
    font-size: 14px;
}


@font-face {
 font-family: customFont;
  src: url('../fonts/HelveticaNeueW23-Reg.eot');
    src: url('../fonts/HelveticaNeueW23-Reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueW23-Reg.woff') format('woff'),
         url('../fonts/HelveticaNeueW23-Reg.ttf') format('truetype'),
         url('../fonts/HelveticaNeueW23-Reg.svg#helvetica_neue') format('svg');		 
	font-weight: normal;
	font-style: normal;
	
}
.hacen {
    font-family:customFont, Tahoma, Arial;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    padding-bottom: 20px;
}


#container {
    margin: 0 auto 0 auto;
    width: 980px;
    z-index: 2;
    visibility: visible;
    display: block;
    clear: both;
    padding-bottom: 10px;
}

#top-menu{
    background-image: URL(../images/main-menu-bg.png);
    height: 36px;
    display: block;
    background-repeat: repeat-x;
}

#top-menu .links, #top-menu .account-actions .links{
    position: relative;
    top: 7px;
    right: 12px;
}
#top-menu .account-actions{
    background-color: #0d486e;
    height: 36px;
    width: 133px;
    display: block;
    float: left;
    position: relative;
    left: 0px;
    top: -20px;
}

#top-menu .links a, #top-menu .account-actions a{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
#top-menu .links a:hover, #top-menu .account-actions a:hover{
    color: #CCC;
}



#content{
    width: 846px;
    margin: 0 auto;
    min-height: 400px;
}

#content-wrapper {
    background: white;

    top: -40px;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    height: 100%;
    -webkit-box-shadow: 0 1px 3px #B9BBBE;
    -moz-box-shadow: 0 1px 3px #b9bbbe;
    box-shadow: 0 1px 3px #B9BBBE;
    border: 1px solid #B9BBBE;
    border-bottom: 1px solid #B2B2B6;
    border-top: none;

    background:#f5f5f5;
}

#inner-page-content {   
    width: 100%;
    display: block;
    min-height: 600px;
    display: inline-block;
    padding-top: 21px;
    background-image: URL(../images/kalamona-watermark.png);
    background-repeat: no-repeat;
    display: block;
    background-position: 100px 355px;
}

#homepage-content{
    width: 100%;
    display: block;
    min-height: 600px;
    padding-top: 21px;
    display: block;
}

.welcome-screen{
    background: #4283ad;
    height: 325px;
    margin-top: -21px;
    width: 100%;
}

.inside-top-screen{
    background: #4283ad;
    height: 137px;
    margin-top: -21px;
    width: 100%;
}


.horizontal-seperator {
    height: 1px;
    float: left;
    width: 82.5%;
    margin-left: 75px;
    background: gainsboro;
    border-bottom: 1px solid white;
    margin-top: 21px;
}

.welcome-screen-description{
    color: rgb(227, 232, 236);
    width: 306px;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    right: 267px;
    top: -140px;
}

.welcome-screen-description-left{
    float: left;width: 300px;position: relative;top: 50px;color: #1d4b6c;left: -80px;
    font-size: 20px;
}

.welcome-screen-description-left p{
    color: rgb(227, 232, 236);
    font-size: 14px;
    margin-top: 5px;
}

.main_title{
    color: #598ea7;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inside-top-screen #content .welcome-inside-message{
    background-image: URL(../images/kalamona-message.png);
    background-repeat: no-repeat;
    width: 336px;
    height: 108px;
    display: block;
    float: right;
    position: relative;
    top: 15px;
}

.inside-top-screen #content .social-network{
    float: left;
    position: relative;
    top: 40px;
}

.inside-top-screen #content .social-network .facebook{
    background-image: URL(../images/facebook.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;    
}
.inside-top-screen #content .social-network .twitter{
    background-image: URL(../images/twitter-icon.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;    
}
.inside-top-screen #content .social-network .linkedin{
    background-image: URL(../images/linkedin-icon.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;    
}
.inside-top-screen #content .social-network .google{
    background-image: URL(../images/google-icon.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;    
}

a{
    color: #00a1c7;
    text-decoration: none;
}

a:hover{
    color: #19bee5;
    text-decoration: underline;
}

.active-img{
    background-image: URL(../images/active.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.inactive-img{
    background-image: URL(../images/inactive.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.inside-btn-place{
    float: left;
    position: relative;
    top: 20px;
}

.home-content{
    width: 842px;
    margin: 0 auto;
    margin-top: 30px;
}

.home-registration-info{
    float: right;
    width:270px;   
    margin-left: 20px;
    line-height: 20px;
    margin-top: 30px;
}

.box{
    background-image: URL(../images/box-background.png);
    background-repeat: no-repeat;
    width:  252px;
    min-height: 52px;
    display: block;
    float: right;
    margin-left: 10px;
    margin-left: 10px;
}

.box-separator{
    background-image: URL(../images/home-box-separator.png);
    background-repeat: no-repeat;
    width: 1px;
    height: 66px;
    display: block;
    float: right;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 30px;
}

.box ul{
    margin-top: 20px;
    margin-right: 17px;
}

.box ul .field-group{
    float:right;
    clear:both;
    margin-bottom:10px;
}

.clear{
    clear: both;
    height: 5px;
}

.login-btn{
    border: none;
    background-image: URL(../images/login-btn.png)!important;
    background-repeat: no-repeat;
    width: 90px;
    height: 29px;
    display: inline-block;
    cursor: pointer;
}

a#signup-btn{
    clear: both;
    background-image: URL(../images/new-user.png)!important;
    background-repeat: no-repeat;
    width: 125px;
    height: 29px;
    display: block;
    cursor: pointer;
}

.btn-box{
    background-image: URL(../images/dashboard-btn-box.png);
    background-repeat: no-repeat;
    width: 209px;
    height: 130px;
    display: block;
    float: right;    
}
.btn-box div{
    color: #FFF;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 11px;
    width: 195px;
}

.btn-box .btn{
    background-repeat: no-repeat;
    width: 193px;
    height: 35px;
    display: block;   
    margin-right: 8px;
    margin-top: 10px;
}

.btn-box .exams-btn{
    background-image: URL(../images/exams-btn.png);    
}

.btn-box .training-btn{
    background-image: URL(../images/training-btn.png);
}

.btn-box-separator{
    float: right;
    width: 1px;
    border-right: 1px solid #dcdcdc;
    height: 66px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
}

#footer{    
    clear: both;
    position: relative;
    top: 10px;
    text-align: center;
}

#footer a{
    color: #a9a9a9;
    font-size: 11px;
    margin-left: 30px;
}

#menu_groups{
    width: 100%;
    float: right;
    display: block;
    margin-top: 30px;
}

#assessment-list{
    clear: both;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.assessment-name-box{
    background-image: URL(../images/ready_assessment_bg.png);
    background-repeat: no-repeat;
    width: 275px;
    height: 21px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 22px 0px;
    margin-bottom: 5px;
    margin-left: 5px;    
}

.no-assessment{
    color: #FF0000;
    font-size: 12px;
    display: block;
    text-align: center;
    width: 275px;
}

.assessment-menu-separator{
    width: 1px;
    height: 300px;
    border-right: dashed 1px #CCC;
    display: block;
    float: right;
    position: relative;
    top: 30px;
}

.assessment-item-separator{   
    width: 100%;
    display: block;
    padding-top: 13px;
    clear: right;
}

.assessment-section-separator{
    clear: right;
    border-bottom: 1px #cccccc dashed;
    height: 1px;
    width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}

.assessment-name-box-inside{
    background-image: URL(../images/ready_assessment_bg.png);
    background-repeat: no-repeat;
    width: 275px;
    height: 21px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 22px 0px;
    margin-bottom: 5px;
    margin-left: 5px;    
}

.completed_assessment-inside{
    background-image: URL(../images/assessments-btns.png);
    background-repeat: no-repeat;
    width: 277px;
    height: 21px;
    display: inline-block;
    color: #1a5377;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 22px 0px;
    margin-bottom: 5px;
    margin-left: 5px;    
}

.h-line{
    height: 1px;
    width: 98%;
    border-bottom: #CCC 1px dashed;
    margin-bottom: 15px;
    margin-top: 15px;
}

.login-logout-place{
    clear: left;
    float: left;
    position: relative;
    top: 70px;
    left: 0;
}

.login-logout-place a{
    color: #FFF;
}

#valid-assessment{
    color: rgb(253, 164, 0);
}
.timer {
    margin: 43px 0;
    height: 34px;
    position: relative;
    background: #e9f2f8;
    border: 1px solid #DDE;
    border-radius: 4px;
    margin-right: -20px;
    width: 845px;
}

.timer_meter {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    white-space: nowrap; /* stuff for dynamic meter value */
    overflow: hidden;
    top: 0px;
}

.timer_meter {
    background-color: #1F9CFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1F9CFF), to(#0595B9))   ; 
    background-image: -webkit-linear-gradient(top, #1F9CFF, #0595B9);
    background-image:    -moz-linear-gradient(top, #1F9CFF, #0595B9); 
    background-image:     -ms-linear-gradient(top, #1F9CFF, #0595B9); 
    background-image:      -o-linear-gradient(top, #1F9CFF, #0595B9); 
    background-image:         linear-gradient(top, #1F9CFF, #0595B9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1F9CFF', EndColorStr='#0595B9'); 
}

.inactive .timer_meter {
    background-color: #1E6982;
    background-image: none;
}

.timer_value {
    z-index:2;
    color: #69b5e1;
    font-size:13px;
    line-height:34px;
    font-weight: bold;
    margin-left: 10px;
    float:left;
    font-size: 14px;
}

.timerWrapper{

    width: 100%;
    clear: both;
}

.resultWrapper{
    height: 44px;
    width: 846px;
    background: rgb(238, 238, 238);
    margin-right: -20px;
    position: relative;
    top: -30px;
}

.new_times_up {
    position: absolute;
    background: black url('../images/btn_times_up.png') no-repeat center center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 10;
    width: 847px;
    height: 240px;
    padding-bottom: 45px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.ocq-main-list-wrapper {
    margin-top: 15px;
}